<!DOCTYPE html>
<html>
  <head>
    <title>Mini-Games</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mini_games.css') }}"
    />
  </head>
  <body>
    <h1>Choose a Mini-Game</h1>
    <div class="game-links">
      <a href="{{ url_for('brick_breaker')}}" target="_blank">Brick Breaker</a>
      <a href="{{ url_for('cross_road')}}" target="_blank">Cross Road</a>
      <a href="{{ url_for('flappy_cube')}}" target="_blank">Flappy Cube</a>
      <a href="{{ url_for('snake_game')}}" target="_blank">Snake Game</a>
    </div>
  </body>
</html>
